.show-coords{
        display: block;
        text-align: center;
        border: 3px solid whitesmoke;
        border-radius: 5px;
        margin: 100px 20px;
        width: 300px;
        height: 400px;
        color: whitesmoke;
        background-color: #235a97;
}