<section class="main-app">
    <h1>{{title}}</h1>
    <!-- <greet (hello)="onSayHello($event)" [user]="user" ></greet> -->
    <show-time></show-time>
    <!-- <section>
        <p><span [class.admin]="user.isAdmin" >{{user|json}}</span></p>
        <button (click)="onToggleAdmin($event)" >Toggle Admin</button>
    </section>
    
    <section *ngIf="user.isAdmin">
        <h1>Top Secret</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam quam ex cumque totam incidunt, eaque commodi dolor minima repellendus voluptatibus explicabo facere temporibus doloremque maxime! Voluptatibus error rem voluptates dolores.
        </p>
    </section>

    <ul>
        <li *ngFor="let pet of pets; trackBy: trackByFn; index as idx" >{{idx}} - {{pet.name}}</li>
    </ul>

    <button (click)="onAddPet()">add pet</button> -->
</section>